.hearts span {
  position: absolute;
  bottom: -50px;
  font-size: 24px;
  animation: float 8s linear infinite;
  opacity: 0.8;
}

.hearts span:nth-child(n) {
  left: calc(100% * var(--i));
}

@keyframes float {
  0% {
    transform: translateY(0) scale(0.8);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: translateY(-120vh) scale(1.2);
    opacity: 0;
  }
}

.hearts span {
  left: calc(100% * random());
}
